*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}



main{
display: inline-block;
border: 2px, solid, black;
/* falta diminuir a largura do main nessa linha*/
margin-inline: auto;
margin-bottom: 10px;
}


.foto{
    display: block;
    border: solid, black, 2px;
    width: 200px;
    height: 200px;
}

a{
    display: inline-block;
    border: 2px, solid, black;
    padding: 13px 30px;
}


.textos p{
    display: block;
    border: 1px, solid, black;
    margin-bottom: 20px;
}

.textos2{
    display: block;
    border: 1px, solid, black;
    margin-top: 40px;
    margin-bottom: 20px;
}


.numeros p{
    display: inline-block;
    border: 2px, solid, black;
    width: 110px;
    height: 110px;
}

.numeros2{
    display: inline-block;
    border: 1px, solid, black;
    width: 110px;
    height: 110px;
    margin-left: -20px;
}


footer{
    display: block;
    border: 2px, solid, black;
    margin: 10px 20px 30px 40px;
}